* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin: 80px 0px 10px 0px;
}
.pagination > button {
  border: 1px solid black;
  border-radius: 50%;
  padding: 5px;
  width: 35px;
  height: 35px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
.notActive {
  border-radius: 50%;
  border: none;
  background-color: rgba(112, 128, 144, 0.317);
}
.active {
  background-color: rgb(17, 145, 224);
  border-radius: 50%;
  color: #fff;
  border: none;
}
.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #d8d8d8;
  color: rgba(0, 0, 0, 0.902);
  font-size: 15px;
  font-weight: 400;
  text-align: right;
}
.img {
  border-radius: 50%;
  width: 85px;
  height: 85px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 0px 10px;
}
.form > div,
.signOut {
  display: flex;
  width: 100%;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
}
.title {
  color: #233244;
  font-size: 16px;
  font-weight: 700;
}
.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #d8d8d8;
  color: rgba(0, 0, 0, 0.902);
  font-size: 15px;
  font-weight: 400;
  text-align: right;
  width: 100px;
}
.box > div {
  display: flex;
}
input {
  background-color: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.902);
  font-size: 15px;
  font-weight: 400;
  text-align: right;
}
.tableComponent {
  border-radius: 8px;
  box-shadow: 0 1px 5px rgba(3, 0, 55, 0.08);
  margin: 70px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  overflow-y: auto;
  scroll-snap-type: x mandatory;
  scroll-snap-type: y mandatory;
  width: 100%;
}
.tableComponent::-webkit-scrollbar {
  display: none;
}

.tableComponent {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.table {
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: auto;
  scroll-snap-type: x mandatory;
  scroll-snap-type: y mandatory;
  width: 550px;
}
@media (min-width: 768px) {
  .form > div,
  .signOut {
    margin: 15px 10px;
  }
  .tableComponent {
    width: 750px;
  }
}
