* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin: 10px 0px;
}
.pagination > button {
  border: 1px solid black;
  border-radius: 50%;
  padding: 5px;
  width: 35px;
  height: 35px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
.notActive {
  border-radius: 50%;
  border: none;
  background-color: #fff;
}
.active {
  background-color: rgb(17, 145, 224);
  border-radius: 50%;
  color: #fff;
  border: none;
}
.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #d8d8d8;
  color: rgba(0, 0, 0, 0.902);
  font-size: 15px;
  font-weight: 400;
  text-align: right;
}
.img {
  border-radius: 50%;
  width: 85px;
  height: 85px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 0px 10px;
}
.form > div,
.signOut {
  display: flex;
  width: 100%;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
}
.title {
  color: #233244;
  font-size: 16px;
  font-weight: 700;
}
.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #d8d8d8;
  color: rgba(0, 0, 0, 0.902);
  font-size: 15px;
  font-weight: 400;
  text-align: right;
  width: 100px;
}
.box > div {
  display: flex;
}
input {
  background-color: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.902);
  font-size: 15px;
  font-weight: 400;
  text-align: right;
}

@media (min-width: 768px) {
  .form > div,
  .signOut {
    margin: 15px 10px;
  }
}
