@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700&family=Montserrat:wght@300;400;500;700&family=Mulish:wght@400;700&family=Nunito+Sans:wght@200;300;400;600;800&family=Poppins:wght@100;200;300;400;500;600;700&family=Raleway:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&family=Splash&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Nunito Sans";
}
body {
  background-color: #f1f5f9;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
body::-webkit-scrollbar {
  display: none;
}
@tailwind base;
@tailwind utilities;
@tailwind components;
